ion-footer {
    background: grey;
}

.casinha {
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}   

h1 {
    margin-top: 38px;
    font-size: 20px;
    line-height: 1.2;
}

.logo{
    margin-top: 4px;
    max-width: 16%;
  }
  
  .sair{
    margin-left: 248px;
    background: grey;
    max-width: 16%;
  }