<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div>
        <img class="logo" src="./assets/controle.png">
        <ion-icon routerLink="/signout" class="sair" name="log-out-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "container">
    <div class ="titulo">
      <h2>Clique para ver as notícias de cada console:</h2>
    </div>
    <div class= "banner">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-grid>
            <ion-row>
              <div class = "image-slider">
                <img src="./assets/ps5Logo.jpg">
              </div>
            </ion-row>
            <ion-row>
              <div class = "botoes">
                <ion-button routerLink="/playstation" fill="solid" size="default">Playstation 5</ion-button>
              </div>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <div class = "image-slider">
                <img src="./assets/xboxLogo.jpg">
              </div>
            </ion-row>
            <ion-row>
              <div class = "botoes">
                <ion-button routerLink="/xbox" fill="solid" color="success" size="default">Xbox Serie X</ion-button>
              </div>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
