<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div>
        <img class="logo" src="./assets/controle.png">
        <ion-icon routerLink="/login" class="sair" name="log-out-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "container">
    <div class ="titulo">
      <h2>Clique para ver as notícias de cada console:</h2>
    </div>
    <div class = "banner">
      <img src="./assets/2.jpg">
    </div>
    <br/>
    <div class = "botoes">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button routerLink="/playstation" fill="solid" size="default">Playstation 5</ion-button>
          </ion-col>
          <ion-col>
            <ion-button routerLink="/xbox" fill="solid" color="success" size="default">Xbox Serie X</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>