.container {
  text-align: center;
}

.titulo h2 {
  color : white;
  margin-top: 60px;
  font-size: 17px;
}

.banner {
  margin-top: 65px;
}
.logo{
  max-width: 16%;
}

ion-content {
  --background: black;
}

ion-toolbar {
  --background: black;
}

