<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="./assets/logo.png">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "container">
    <div class ="titulo">
      <h2>Clique para ver as notícias de cada console:</h2>
    </div>
    <div class = "banner">
      <img src="./assets/2.jpg">
    </div>
    <br/>
    <div class = "botoes">
      <ion-button fill="outline" size="default" color="light">Block Button</ion-button>
      <ion-button fill="clear" color="success" size="default">Block Button</ion-button>
    </div>
  </div>
</ion-content>
