<!--Container que agrupa os campos do app-->
<ion-content>
 
<!--Divisão criada para centralizar os cards da página (Está na global.scss)-->  
  <div class="flex-center">

<!--Card criado para colocar os dados cadastrais-->
    
      
<!--Título da página-->
    <ion-card>  
      <ion-card-header>
      <ion-card-title>Register</ion-card-title>
      </ion-card-header>

<!--Container para agrupar os dados cadastrais-->
<ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>

<!--Label para inserir os dados cadastrais-->
      
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type ="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type ="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type ="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm password</ion-label>
          <ion-input type ="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone number</ion-label>
          <ion-input type ="tel"></ion-input>
        </ion-item>
      </ion-card>
<!--Usado para fazer uma caixa de opções-->
        <ion-card>
          <ion-radio-group>
            <ion-card-header>
              <ion-card-title (click)="presentAlert()" fill="clear" color="primary">Accept terms and conditions</ion-card-title>
            </ion-card-header>

              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
          </ion-radio-group>
<!--Botão feito para entrar na página Home-->
          <div class="flex-center">
          <ion-button routerLink="/home" color="success" size="full">Login</ion-button>
          </div>
        </ion-card>
    
  </div>
</ion-content>
<!--Fechamento do contanier-->